extends layout

block content
  h1= title
  a(href="/new") New message 
  p Welcome to #{title}
  ul  
    each message in messages 
      li
        div 
          sub #{message.added}
        div 
          strong #{message.user}
        div #{message.text}
